<h4><%= @currency.numCode %></h4>
<h4><%= @currency.charCode %></h4>
<h4><%= @currency.nominal %></h4>
<h4><%= @currency.name.encode("utf-8", undef: :replace) %></h4>
<h4><%= @currency.value %></h4>

<script>
    $(function(ready){
        var value = <%= @currency.value %>;
        var nominal = <%= @currency.nominal %>
        $('#question_id_1').change(function() {
            $('#question_id_2').val(($(this).val()) * (nominal / value));
        });

        $('#question_id_2').change(function() {
            $('#question_id_1').val(($(this).val()) * (value / nominal));
        });
    });
</script>

<br><br>

<h2>Конвертер валют</h2>
<br>
<div class="row">
<div class="col-md-4">
<%= simple_form_for :search, url: currencies_path do |f| %>
    <h4>Рубли в <%= @currency.name.encode("utf-8", undef: :replace) %></h4>
  <%= f.input :rub, label: 'Введите нужную сумму', :input_html => {:id => "question_id_1"} %>
    <%= f.input :rub, label: 'Результат', :input_html => {:id => "question_id_2"} %>
  <%= f.button :button, 'Перевести' %>
<% end %>
</div>
</div>